1 VERSIONINFO
 FILEVERSION 4,2,1,1
 PRODUCTVERSION 4,2,1,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "http://www.dvs.de\0"
            VALUE "CompanyName", "DVS Digital Video Systems GmbH\0"
            VALUE "FileDescription", "DVS SDK dmaspeed Example\0"
            VALUE "FileVersion", "4.2.1.1\0"
            VALUE "InternalName", "dmaspeed\0"
            VALUE "LegalCopyright", "© 2012 DVS Digital Video Systems GmbH\0"
            VALUE "OriginalFilename", "dmaspeed.exe\0"
#ifdef _DEBUG
            VALUE "PrivateBuild", "r67299 (Debug)\0"
#else
            VALUE "PrivateBuild", "r67299\0"
#endif
            VALUE "ProductName", "DVS SDK\0"
            VALUE "ProductVersion", "4.2.1.1\0"
            VALUE "SpecialBuild", "May  3 2012\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
